h1 {
    color: #ffffff; /* Vert nature (Green Sea) */
    background-color: #1f9c41; /* Fond léger pour contraste */
    border: 5px solid #6e3003; /* Cadre marron (Saddle Brown) */
    padding: 20px; /* Espace à l'intérieur du cadre */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centre le texte */
    font-family: 'Arial', sans-serif; /* Police de caractère */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

h2 {
    color: green;            /* Met le texte en vert */
    text-align: left;      /* Centre le texte */
    text-decoration: underline; /* Souligne le texte */
}

body {
    background-color: #f5e6da; /* Code hexadécimal pour un marron très clair */
}


li {
    border: 3px solid black; /* Cadre épais en noir */
    padding: 10px 20px; /* Ajoute de l'espace autour du texte */
    background-color: #ffffff; /* Couleur de fond du bouton */
    cursor: pointer; /* Change le curseur au survol */
    margin: 10px; /* Espace entre les boutons */
    display: inline-block; /* Permet le centrage avec margin auto */
    color:white;

}


